body {
    background-color: darkgray;
}

.defaultPage {
    background-color: black;
    height: 100%;

}

.arrows{
    display: flex;
}

#individualCar {
    display: block
}

#carImage {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

.car-images {
    display: inline-flex
}

.car-carousel-images {
    display: inline-flex
}

.car-info {
    border: solid black 3px
}

.car-image-thumbnail {
    display: inline-flex;
}
